<div class="home_part1">
    <p>Welcome to</p>
    <div>
        <img style="width: 70%; border: 0px; border-radius: 0px;" src="/images/logo-company.png">
    </div>

    <br><br><br><br><br><br><br><br>
    <p>
        Helping you analyze and process microbial genomic data.<br>
        We help you turn data into discoveries.
    </p>

    <p>
        <button type="button" href="mailto:{{site.owner.email}}" style="border-radius: 15px; background-color: #a5c4dc; color: white; padding: 10px 20px; border: none;">Get in touch</button>
    </p>
</div>