<div class="home_part3">
    <div style="display: block;">
        <div class="flex-container">
            <div class="flex-child">
                <p>Some examples:
                <ul>16S rRNA gene sequencing</ul>
                <ul>Shotgun metagenomics</ul>
                <ul>Microbial pangenomics and phylogenomics</ul>
                Tell us what you need and we'll see what we can do!</p>
            </div>
            <div class="flex-child">
                <img style="max-width: 100%;" src="/images/home/service1.png">
            </div>
        </div>

        <div class="flex-container">
            <div class="flex-child">
                <img style="max-width: 100%;" src="/images/home/service2.png">
            </div>
            <div class="flex-child">
                <p>We provide bioinformatics workshops for institutions and coding classes. Contact us if you would like to know more!</p>
            </div>
        </div>
    </div>
</div>