<div class="mission">
<p>Our mission is to provide biological informatics support addressing academic needs and to provide industrial solutions in Malaysia. The services we provide includes, but not limited to, bioinformatics service and consultation as well as hands-on training.
  
Our vision is:
- To promote biological research using genomics technology as well as cutting-edge technology.
- To enable more science communication between academia and industry leaders, to recognise applications of new technology to overcome current barriers in research and industry.
- To provide genome expertise for national preparedness for the next pandemic surveillance using genomics.
- To be a centre of excellence in biological research by training next-generation scientists and promoting creative solutions for future problems.
- To apply creative, engaging data visualisations to attract more people to learn science.
- To be at forefront of applying automation for high-throughput research.
  
Level up your research by reaching out to us today!</p>

