<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="post-index">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% include _imagewrap.html %}

<div id="main" role="main">

<div id="index">

<h3 style="margin-top: 1em;">Contact us.</h3>
 If you would like to know more, drop us an email at the address below or give us a call today!
 
 Company email: fastgenom@gmail.com

 Contact numbers:
 <ul>
  <li>+6011-60905857 (Zarul Hanifah)</li>
  <li>+6017-8505024 (Azamuddeen Nasir)</li>
  <li>+6017-3710644 (Harpreet Kaur)</li>
</ul>

</br>
  </div><!-- /#index -->
</div><!-- /#main -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}
  
</body>
</html>
