<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->


<head>
{% include _head.html %}


</head>

<body class="home">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% include _imagewrap.html %}


<div id="main" role="main">

    <!-- <div class="article-author-side"> -->
      
    </div>
    <div id="index" style="width: 100%; margin-left: 0px; margin-right: 20px;">
        <!-- home part1 -->
        <div class="home_partx" style="background: url('../../images/home/home_part1.png') center no-repeat; background-size: contain;">
          <!-- {% include _home_part1.html %} -->
          <div style="padding: 10px; margin-left: 10px;">
            <p>Welcome to</p>
            <div>
                <img style="width: 70%; border: 0px; border-radius: 0px;" src="/images/logo-company.png">
            </div>

            <br><br><br><br><br><br>
            <p>
                Helping you analyze and process microbial genomic data.<br>
                We help you turn data into discoveries.
            </p>

            <p>
              <span><a href="{{ site.url }}/contactus/" class="btn" style="border-radius: 15px; background-color: #a5c4dc; color: white; padding: 25px 50px; border: none; font-size: 30px;">Get in touch</a></span>
                
            </p>
          </div>
        </div>


        <!-- home part2 -->
        <!-- <div style="background: linear-gradient(to right, #8ed8fb, #ffffff);"> -->
        <div >
          <div class="home_part2" style="background: #b3cde0 center center scroll; background-size: cover; background-repeat: repeat-y; padding: 20%; padding-top: 20%; padding-bottom: 50%;">
            <div style="text-align: left; line-height: 1.2;">
              <!-- {% include _home_part2.html %} -->
              <p style="font-size: 42px; color: #007ac9;"><b>WE ARE A BIOINFORMATICS CONSULTING COMPANY</b></p>

              Our mission is to provide tailored biological informatics support, bridging academia and industry with services including bioinformatics, consultation, and hands-on training. Through precise analysis and engaging data visualization, we help clients understand their data for both research and practical applications.   
              
              </br>
              </br>

              We provide publication-quality data visualizations.
              Level up your research by reaching out to us today!</p>
            </div>
          </div>
        </div>



        <div style="padding: 100px">
          <h2>Our services include, but not limited to:</h2>
        <div style="padding: 10px">

        <div  class="home_part3" style="background: url('../../images/home/home_part3.png') center center scroll;">
          <!-- {% include _home_part3.html %} -->
          <div style="display: block;">
              <div class="flex-container">
                  <div class="flex-child">
                      <p>Some examples:
                      <ul>🔅 16S rRNA gene sequencing</ul>
                      <ul>🔅 Shotgun metagenomics</ul>
                      <ul>🔅 Microbial pangenomics and phylogenomics</ul>
                      Tell us what you need and we'll see what we can do!</p>
                  </div>
                  <div class="flex-child">
                      <img style="max-width: 100%;" src="/images/home/service1a.png">
                  </div>
              </div>

              <div class="flex-container">
                  <div class="flex-child">
                      <img style="max-width: 100%;" src="/images/home/service2a.png">
                  </div>
                  <div class="flex-child">
                      <p><br><br><br>We provide bioinformatics workshops for institutions and coding classes. Contact us if you would like to know more!</p>
                  </div>
              </div>
          </div>
        </div>


        <!-- <div class="blue-rectangle" style="font-size:50px">OUR PARTNERS</div> -->
        <div style="font-size:50px ; text-align: center;">OUR PARTNERS</div>

        <img style="width: 95%; margin-top: 50px;" src="/images/home/unis.png">

        <h3>Recent posts from the blog</h3>
        <div class="recent-posts">
            {% for post in site.posts limit: 4 %}
            <article>
                {% assign author = None %}
                {% assign p = post.authors[0] %}
                {% for e in site.data.people %}
                  {% if e.alias == p %}
                      {% assign author = e %}
                  {% endif %}
                {% endfor %}

                <!-- Thumbnail image with fallback -->
                <div class="thumbnail">
                    {% if post.thumbnail %}
                        <img src="{{ post.thumbnail }}" alt="{{ post.title }} thumbnail">
                    {% else %}
                        <img src="https://img.freepik.com/free-vector/cute-monkey-holding-banana-cartoon-vector-icon-illustration-animal-food-icon-concept-isolated-premium-vector-flat-cartoon-style_138676-3324.jpg" alt="Default thumbnail">
                    {% endif %}
                </div>

                <!-- Post content -->
                <div class="content">
                    {% if author %}
                      <h2>
                        <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
                        <small>({{ post.date | date: "%a, %b %d, %Y" }}, by <span style="color: gray;">{{ author.alias }}</span>)</small>
                      </h2>
                    {% else %}
                      <h2>
                        <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
                        <small>({{ post.date | date: "%a, %b %d, %Y" }})</small>
                      </h2>
                    {% endif %}
                    <p>{{ post.excerpt | strip_html | truncate: 160 }}</p>
                    {% for category in site.data.categories %}
                      {% if category.name == post.categories[0] %}
                          <span class="lbl" style="background-color: {{ category.color }};">{{ category.name }}</span>
                      {% endif %}
                    {% endfor %}
                </div>
            </article>
            {% endfor %}
        </div>

        <div class="yellow-rectangle">
          <span>
            In need of our bioinformatics service? Talk to our team today!
          </span>
          <span><a href="{{ site.url }}/contactus/" class="btn">Contact Us</a></span>
        </div>

    </div><!-- /#index -->
</div><!-- /#main -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}

</body>
</html>
